.punk_list {
  cursor: pointer;
  display: flex;
  overflow-x: scroll;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--white);
}

.punk_list::-webkit-scrollbar {
  display: none;
}