/* :root {
  --black: #000;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
} */

.App {
  background-color: #6b0f1a;
background-image: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%);


  padding: 20px;
  min-height: 100vh;
  max-width: 100vw;
}
